body {
    background-color: beige;
}

h1 {
    color: crimson;
    text-align: center;
    font-family: Cooper Black;
}

div.logo {
    width: 50px;
    height: 100px;
}

.search_from {
    width: 100%;
    max-width: 500%;
    margin: 20px auto;
    align-content: center
}




input {
    width: 90%;
    padding: 10px 2%;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    margin-left: 20px;
}

input[type="submit"] {
    background: aqua;
    border: 1px solid aqua;
    width: 200px;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}

input[type="submit"]:hover {
    background: #000;
    border: 1px solid #000;
    color: #fff;
}


.search_form {
    width: 100%;
    max-width: 500%;
    margin: 20px auto;
}

.search_form input {
    width: 35%;
    float: left;
}

.search_form input[type="submit"] {
    width: 30%;
    float: left;
    padding: 0.5% 3%;
}


img {
    width: 100px;
    height: 150px;
    padding: 20px 90px 5px 10px;
    align-content: left;
}

button {
    background: aquamarine;
    color: red;
    border: 1px solid red;
    width: 100px;
    font-family: Cooper Black;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 40px;

}

Button[type="submit"]:hover {
    background: #000;
    border: 1px solid #000;
    color: #fff;
}


button.bangla { 
    background: lightgreen;
    color: red;
    border: 1px solid aqua;
    width: 80px;
    height: 41px;
    font-family: sans-serif;
    font-size: bold 18px;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 10px;

}

Button.bangla[type="submit"]:hover {
    background: #000;
    border: 1px solid #000;
    color: #fff;
}



img {margin-left: 30px;}


div.img1 {
    margin: -205px 150px -0px
}

div.img2 {
    margin: -205px 300px -0px
}

div.img3 {
    margin: -205px 450px -0px
}

div.img4 {
    margin: -205px 600px -0px
}

div.img5 {
    margin: -205px 750px -0px
}

div.img6 {
    margin: -205px 900px -0px
}

div.img7 {
    margin: -205px 1050px -0px
}

div.img8 {
    margin: -205px 1200px -0px
}


div.img9 {
    margin:
}

div.img10 {
    margin: -205px 150px -0px
}

div.img11 {
    margin: -205px 300px -0px
}

div.img12 {
    margin: -205px 450px -0px
}

div.img13 {
    margin: -205px 600px -0px
}


div.img14 {
    margin: -205px 750px -0px
}

div.img15 {
    margin: -205px 900px -0px
}

div.img16 {
    margin: -205px 1050px -0px
}


div.img17 {
    margin: -205px 1200px -0px
}



div.img18 {}

div.img19 {
    margin: -205px 150px -0px
}

div.img20 {
    margin: -205px 300px -0px
}

div.img21 {
    margin: -205px 450px -0px
}

div.img22 {
    margin: -205px 600px -0px
}

div.img23 {
    margin: -205px 750px -0px
}

div.img24 {
    margin: -205px 900px -0px
}

div.img25 {
    margin: -205px 1050px -0px
}

div.img26 {
    margin: -205px 1200px -0px
}


div.img27 {
    margin:
}

div.img28 {
    margin: -205px 150px -0px
}

div.img29 {
    margin: -205px 300px -0px
}

div.img30 {
    margin: -205px 450px -0px
}

div.img31 {
    margin: -205px 600px -0px
}


div.img32 {
    margin: -205px 750px -0px
}

div.img33 {
    margin: -205px 900px -0px
}

div.img34 {
    margin: -205px 1050px -0px
}


div.img35 {
    margin: -205px 1200px -0px
}



div.img36 {
    margin:
}

div.img37 {
    margin: -205px 150px -0px
}

div.img38 {
    margin: -205px 300px -0px
}

div.img39 {
    margin: -205px 450px -0px
}

div.img40 {
    margin: -205px 600px -0px
}


div.img41 {
    margin: -205px 750px -0px
}

div.img42 {
    margin: -205px 900px -0px
}

div.img43 {
    margin: -205px 1050px -0px
}


div.img44 {
    margin: -205px 1200px -0px
}


div.img45 {
    margin:
}

div.img46 {
    margin: -205px 150px -0px
}

div.img47 {
    margin: -205px 300px -0px
}

div.img48 {
    margin: -205px 450px -0px
}

div.img49 {
    margin: -205px 600px -0px
}


div.img50 {
    margin: -205px 750px -0px
}

div.img51 {
    margin: -205px 900px -0px
}

div.img52 {
    margin: -205px 1050px -0px
}


div.img53 {
    margin: -205px 1200px -0px
}





div.img54 {}

div.img55 {
    margin: -205px 150px -0px
}

div.img56 {
    margin: -205px 300px -0px
}

div.img57 {
    margin: -205px 450px -0px
}

div.img58 {
    margin: -205px 600px -0px
}

div.img59 {
    margin: -205px 750px -0px
}

div.img60 {
    margin: -205px 900px -0px
}

div.img61 {
    margin: -205px 1050px -0px
}

div.img62 {
    margin: -205px 1200px -0px
}


div.img63 {
    margin:
}

div.img64 {
    margin: -205px 150px -0px
}

div.img65 {
    margin: -205px 300px -0px
}

div.img66 {
    margin: -205px 450px -0px
}

div.img67 {
    margin: -205px 600px -0px
}


div.img68 {
    margin: -205px 750px -0px
}

div.img69 {
    margin: -205px 900px -0px
}

div.img70 {
    margin: -205px 1050px -0px
}


div.img71 {
    margin: -205px 1200px -0px
}



div.img72 {}

div.img73 {
    margin: -205px 150px -0px
}

div.img74 {
    margin: -205px 300px -0px
}

div.img75 {
    margin: -205px 450px -0px
}

div.img76 {
    margin: -205px 600px -0px
}

div.img77 {
    margin: -205px 750px -0px
}

div.img78 {
    margin: -205px 900px -0px
}

div.img79 {
    margin: -205px 1050px -0px
}

div.img80 {
    margin: -205px 1200px -0px
}


div.img81 {
    margin:
}

div.img82 {
    margin: -205px 150px -0px
}

div.img83 {
    margin: -205px 300px -0px
}

div.img84 {
    margin: -205px 450px -0px
}

div.img85 {
    margin: -205px 600px -0px
}


div.img86 {
    margin: -205px 750px -0px
}

div.img87 {
    margin: -205px 900px -0px
}

div.img88 {
    margin: -205px 1050px -0px
}


div.img89 {
    margin: -205px 1200px -0px
}




div.img90 {
     
}

div.img91 {
    margin: -205px 150px -0px
}

div.img92 {
    margin: -205px 300px -0px
}

div.img93 {
    margin: -205px 450px -0px
}

div.img94 {
    margin:  -205px 600px -0px
}


div.img95 {
    margin: -205px 750px -0px
}



div.img96 {
    margin: -205px 900px -0px
}

div.img97 {
    margin:  -205px 1050px -0px
}

div.img98 {
    margin:  -205px 1200px -0px
}



div.img99 {
   
}


div.img100 {
    margin:  -205px 150px -0px
}

div.img101 {
    margin:  -205px 300px -0px
}


div.img102 {
    margin:  -205px 450px -0px
}

div.img103 {
    margin:  -205px 600px -0px
}


div.img104 {
    margin:  -205px 750px -0px
}

div.img105 {
    margin:  -205px 900px -0px
}

div.img106 {
    margin:  -205px 1050px -0px
}

div.img107 {
    margin: -205px 1200px -0px
}



div.img108 {
    margin:
}


ul.page {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}

li.page {
    display: inline-block;
    margin-right: 5px;
    margin-left: 30px;
}

a.page {
    background: #9b59b6;
    color: #fff;
    padding: 10px 25px;
    display: block;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;
}

a.page:hover {
    background: orangered;
}



ul.meno {
    background-color: black;
    margin: 0;
    padding-bottom: 100px;
    list-style: none;
    text-align: center;
}

li.meno {
    display: inline-block;
    margin: 50px 100px 0px 10px
}

a.meno {
    background: brown;
    color: #fff;
    padding: 10px 25px;
    display: block;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;
}

a.meno:hover {
    background: fuchsia;
}
