body {
    background-color: ghostwhite;
}

h1 {
    font-family: Algerian;
    color: brown;
}
h2{font-family: sans-serif; color: darkblue;}

div {
    font-family: sans-serif;
    color: darkviolet;
}
